
body{
	margin: 0px;
}

.fondo {
	height: 1250px;
    display: flex;
	background: linear-gradient(to top, #161616,#041a0b );
}

.fondo img {
	margin: 10px;
    max-width: 300px;
    height: 630px;
}

.info {

    padding: 20px;
}

#nombre{
	text-align: center;
    font-size: 45px;
    color: #4dcc60;
}

#desc{
    font-size: 25px;
    color: #dbffe3;
}
